body {
  background: whitesmoke;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
  line-height: 1.5em;
  border: 0.25em;
  padding: 0em 1em;
  font-size: 1em;
  transition: background 0.5s ease;
  user-select: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.content {
  justify: center;
  min-width: 500px;
}

.webring {
  position: fixed;
  top: 1em;
  right: 1em;
  background: white;
}

h1 {
  display: block;
  font-weight: normal;
  font-size: 1.5em;
}

h2 {
  font-weight: normal;
  font-size: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  border: 1px solid black;
  padding: 0.1em 0.2em;
  margin: 0.1em 0;
  background-color: white;
  /* transition: background 0.5s ease; */
}

/* #weekly li {
  background-color: gold;
}

#reading-responses li {
  background-color: orange;
}

#projects li {
  background-color: tomato;
}

#exercises li {
  background-color: orangered;
} */

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration-style: none;
  transition: color 0.3s ease;
}

.hiddenlink {
  text-decoration: none;
}

#nocolorlink:hover {
  background: none;
}

.smalllink {
  font-size: 0.75em;
}

table {
  border-collapse: collapse;
}

#button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 1em;
  left: 1em;
  background-color: #333;
  border-style: 1px solid black;
  text-align: center;
  cursor: pointer;
  font-size: 0.5em;
}

#button p {
  position: relative;
  bottom: -3px;
  color: white;
}

#name {
  display: inline;
}
