body {
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  background: blue;
}

.text {
  position: relative center;
  color: blue;
  text-align: left;
  font-size: 2.5em;
  line-height: 1em;
  width: 350px;
  user-select: none;
  padding: 1em 1em;
  margin: 1em auto;
  border: 2px solid white;
}

p {
  padding: 0em 0em 0.2em 0em;
}

p:hover {
  background-color: white;
  color: white;
}

p:active {
  color: blue;
  background-color: white;
}

.blue {
  color: white;
}

.info {
  text-align: center;
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline solid;
}

a:active {
  color: blue;
  background-color: white;
}

.sound {
  opacity: 0;
}

.sound:hover {
  opacity: 100;
}
