body {
  font-family: 'Cinzel', 'Trajan', serif;
  font-weight: normal;
  text-align: center;
  color: gray;
  transition: font-size 150ms ease;
  user-select: none;
  /* background: linear-gradient(white, black); */
  background: white;
}

h1 {
  font-size: 7.5em;
  text-decoration: none;
  color: orangered;
  line-height: 1em;
  margin: 0;
  font-weight: normal;
}

h2 {
  font-size: 3em;
  margin: 0;
  font-weight: normal;
}

h3 {
  font-size: 2em;
  margin: 0;
  font-weight: normal;
}

p {
  font-size: 1em;
  margin: 0;
}

a {
  text-decoration: none;
  color: orangered;
}

a:visited {
  color: orangered;
}

#content{
  width: 75%;
  max-width: 800px;
  text-align: left;
  margin: 0 auto;
}

.big {
  width: 100%;
  margin: 0 auto;
}

.small {
  width: 49%;
  margin: 0 auto;
  display: inline-block;
}

.button {
  font-size: 2em;
  margin: 1em;
}

.red {
  color: orangered;
}
.blue {
  color: dodgerblue;
}
.yellow {
  color: gold;
}
.white {
  color: gray;
}

#logo {
  margin: 3em 0 2em 0;
  animation: calder2 5s infinite ease;
}

#footer {
  font-size: 0.75em;
  text-align: center;
  margin: 0 auto;
  width: 650px;
}

@keyframes calder2 {
  0%, 100% {transform: rotate(5deg);}
  50% {transform: rotate(-5deg);}
}

@keyframes bg {
  0%, 100% {background: black;}
  50% {background: white;}
}

@media screen and (max-width: 760px){
  body {font-size: 0.5em;}
  #logo {width: 50px;}
}
