body {
  background: gold;
  color: #333;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ; */
  font-family: 'Source Code Pro', monospace;
  line-height: 1.5em;
  border: 0.25em;
  padding: 0em 1em;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  background-color: white;
  padding: 0.25em 1em;
}

h1 {
  font-weight: normal;
  font-size: 1.5em;
}

h2 {
  font-weight: normal;
  font-size: 1em;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 10px #333;
}

a:hover {
  color: red;
  text-decoration-style: none;
  transition: color 0.3s ease;
}

table {
  border-collapse: collapse;
}
