body {
  line-height: 0em;
  background: darkolivegreen;
  user-select: none;
  margin: 5em auto;
  width: 90%;
}

.container {
  position: fixed;
  bottom: 5em;
  width: 90%;
  margin: 0 auto;
}

.letter {
  display: inline-block;
  margin: 0.25em;
}

.button:hover {
  cursor: row-resize;
}

.row {
  display: block;
}

.block {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
}

.pblock {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
}

.top {
  border-top: 2px burlywood solid;
  transition: border-top-width 20s ease;
}

.bottom {
  border-bottom: 2px burlywood solid;
  transition: border-bottom-width 20s ease;
}

.left {
  border-left: 2px burlywood solid;
}

.right {
  border-right: 2px burlywood solid;
}

.color {
  background: yellow;
}

.diagtt {
  position: relative;
  z-index: 1;
  width: 160%;
  height: 2px;
  left: -25%;
  top: 42.5%;
  background-color: burlywood;
  transform: rotate(-45deg);
}

.diagtb {
  position: relative;
  z-index: 1;
  width: 160%;
  height: 2px;
  left: -25%;
  top: 42.5%;
  background-color: burlywood;
  transform: rotate(45deg);
}

.button {
  position: fixed;
  bottom: 2em;
  left: 2em;
  background-color: burlywood;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 100;
}
