body {
  background: white;
  color: #333743;
  font-size: 18px;
  line-height: 1.8em;
  font-family: 'Merriweather', serif;
}

#container {
  max-width: 550px;
  margin: 0 auto;
  align: center;
}

#contents {
  position: fixed;
  top: 0.4em;
  left: 0.4em;
  padding: 1em;
}

#contents ul {
  padding: 0;
  list-style-type: none;
}

#contents a:hover {
  padding: 0.2em 0em 0em 0em;
}

h1, h2 {
  margin: 0.4em auto;
}

h1 {
  font-size: 3em;
  line-height: 1.25em;
  text-align: left;
  color: green;
}

h2 {
  font-size: 1.5em;
}

p .prelude {
  font-size: 10px;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline double gold;
  color: dimgrey;
  padding: 0.2em 0em 0em 0em;
}

.highlight {
  text-decoration: underline double gold;
}

.credit {
  font-size: 0.75em;
}

#intro {
  font-size: 0.75em;
}
